body {
    background-size: cover;
    background-position: center;
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

.catalogo {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.auto {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
}

.auto img {
    width: 100%;
    border-radius: 5px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%; 
}

iframe {
    width: 80%;
    max-width: 560px;
    height: auto;
    aspect-ratio: 16 / 9;
    display: block;
    margin: 0 auto;
}


form {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 20px auto;
}

label, input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
